.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}
.form {
    width: 300px;
    padding: 7px;
    border-radius: 3px;
}

.form > input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form > button{
    width: 100%;
    padding: 5px 0px;
    font-size: 17px;
}
.worning{
    margin-bottom: 10px;
    background-color: rgb(99, 18, 18);
    width: 100%;
    padding: 2px;
    color: white;
}