.container{
    display:flex;
    margin-top: 110px;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 20px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.2s;
    margin-bottom: 3px;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.2s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 18px;
}
.activeLink{
    background:lightskyblue;
    color: #000;
}