.dashboardTitle{
    display: flex;
    align-items: center;
}

.dashboardTitle > span{
    font-size: 20px;
    margin-left: 5px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.icon{
    font-size: 30px;
    display: flex;
    align-items: center;
}

.homeIcon{
    cursor: pointer;
    color: #000;
}
.logOut{
    cursor: pointer;
    margin: 0px 10px;
}
.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.titleIcon{
    font-size: 25px;
}