.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
}

.deleteBtn, .editBtn{
    padding: 5px;
   cursor: pointer; 
}
.editBtn{
    margin-left: 5px;
}

.newBtn{
    display: flex;
    justify-content: end;
}

.newBtn button{
    padding: 7px;
    cursor: pointer;
}

.newBtn button a{
    color: black;
}
