.addNewBtn{
    display: flex;
    align-items: center;
    justify-content: end;
}

.addNewBtn button{
    padding: 5px;
    cursor: pointer;
}

.deleteBtn{
    background-color: #fb5200;
    padding: 8px 15px;
    font-size: 17px;
    border: none;
    color: wheat;
    cursor: pointer;
    border-radius: 4px;
}

input{
    padding: 5px;
    outline: none;
    font-size: 18px;
}

.row1 input{
    width: 100%;
    margin-right: 10px;
}

.row2 div select{
    font-size: 18px;
    padding: 5px;
    margin-left: 10px;
    outline: none;
    width: 150px;
    margin-left: 0px;
}

.row2{
    margin: 20px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.sizeBtn input{
    margin-top: 5px;
}
.sizeBtn button{
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
}

.row3{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.row3 > div > textarea{
    height: 300px;
    padding: 5px;
    outline: none;
    font-size: 18px;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
}

.submitBtn{
    padding: 5px;
    width: 150px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
}

.displayImg{
    width: 50px;
    height: 50px;
}

label{
    display: block;
}

.addList {
    position: relative;
}

.addList > input{
    width: 100%;

}

.addList > button{
    width: 100px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.specBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.submitBtnArea{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}


.row4{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}