.reportDisplay{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.reportDisplay > div{
    background-color: #ddd;
    padding: 7px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.displayIcon{
    font-size: 30px;
}
.displayNumber{
    font-size: 40px;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 50px;
}

.title{
    margin-bottom: 10px;
}

.user{
    display: flex;
    padding: 2px;
    border-radius: 3px;
    font-size: 17px;
    margin-bottom: 10px;
}
.user h5{
    margin-left: 10px;
}