.settingsBody{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.settingsItem{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.settingsContainer{
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 30px;
}
.settingsItem > span:last-child{
    display: flex;
    align-items: center;
}
.settingsItem > span:last-child strong{
    margin-right: 15px;
}
.settingUpdateBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.charge{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.charge > span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: #ddd;
    margin-bottom: 5px;
    border-radius: 4px;
}
.charge > span > svg{
    font-size: 23px;
    cursor: pointer;
}

.shippingSetting > div:last-child{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.shippingSetting > div:last-child input{
    padding: 3px;
    width: 120px;
}
.shippingSetting > div:last-child input:first-child{
    width: 200px;
}
.shippingSetting > div:last-child button{
    padding: 3px;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.shippingSetting > div:last-child button svg{
    margin-left: 3px;
}


/* About us  */
.aboutUsText{
    margin-bottom: 30px;
}
.aboutUsForm  button{
    margin: 20px auto 0;
}
.aboutUsForm textarea{
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px;
    outline: none;
    font-size: 18px;
}

/* Terms and condition */

.termsForm{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.termsForm textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    outline: none;
    padding: 5px;
    font-size: 17px;
}

.termsForm button{
    padding: 7px 10px;
    cursor: pointer;
    font-size: 17px;
}

.UpdateBtnContainer{
    display: flex;
    justify-content: end;
}

.UpdateBtnContainer button{
    margin-bottom: 30px;
    font-size: 17px;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.UpdateBtnContainer button svg{
    font-size: 20px;
    margin-left: 5px;
}

.termsList{
    width: 90%;
    margin: 100px auto;
}

.termsList ul {
    list-style: none;
}

.termsList ul li {
    background-color: #ddd;
    padding: 4px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;

}
.termsList ul li svg{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    width: 30%;
}

/* Contact info */
.contactInfoContainer{
    background-color: #ddd;
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
}

.contactInfoContainer form input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.contactInfoContainer form button{
    margin: auto;
}

.contactInfoContainer > div{
    margin-bottom: 10px;
}